{% extends 'layout.html' %}
{% block content %}

{% if searchform %}
  <form action='{% url "jp1:list_jp1" %}' method="get">
    <div>
      {{ searchform }}
      <button type="submit" class="search-button"><i class="fa fa-search search-icon"></i></button>
      <a href='{% url "jp1:list_jp1" %}'><i class="fa fa-solid fa-eraser"></i></a>
    </div>
  </form>
{% endif %}

<table>
    <thead>
      <tr>
        <th>品番</th>
        <th>製品名</th>
      </tr>
    </thead>
    <tbody>
      {% if jp1s %}
        {% for jp1 in jp1s %}
          <tr>
            <td><a href="/jp1/{{ jp1.item_no }}">{{ jp1.item_no }}</a></td>
            <td>{{ jp1.item_name }}</td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan=4>No jp1s.</td>
        </tr>
      {% endif %}
    </tbody>
</table>
<div class="basic-block">
  <a href="javascript:history.back()"><i id="back_btn" class="fa fa-backward"></i></a>
</div>
{% endblock%}