{% extends 'layout.html' %}
{% block content %}

{% if searchform %}
  <form action="" method="get">
    <div>
      {{ searchform }}
      <button type="submit" class="search-button"><i class="fa fa-search search-icon"></i></button>
      <a href='{% url "home:trouble_safety_all" %}'><i class="fa fa-solid fa-eraser"></i></a>
    </div>
  </form>
{% endif %}

<table>
    <thead>
      <tr>
        <th>発生日</th>
        <th>トラブル内容</th>
        <th>対策</th>
      </tr>
    </thead>
    <tbody>
        {% if trouble_safety %}
            {% for jpallsafe in trouble_safety %}
                <tr>
                    <td>{{ jpallsafe.発生日|date:"Y年n月" }}</td>
                    <td>{{ jpallsafe.トラブル内容 }}</td>
                    <td>{{ jpallsafe.対策 }}</td>
                </tr>
            {% endfor %}
        {% endif %}

    </tbody>
</table>
<div class="basic-block">
  <a href="javascript:history.back()"><i id="back_btn" class="fa fa-backward"></i></a>
</div>
{% endblock %}