{% extends 'layout.html' %}
{% block content %}
<h3>点検実施</h3>
<a href="/jp2/inspection_page_a/" class="btn_home"><button>2A</button></a>
<a href="/jp2/inspection_page_b/" class="btn_home"><button>2B</button></a>
<a href="/jp2/inspection_page_c/" class="btn_home"><button>2C</button></a>
<h3>点検確認</h3>
<a href="/jp2/inspection_history_a/" class="btn_home"><button>2A</button></a>
<a href="/jp2/inspection_history_b/" class="btn_home"><button>2B</button></a>
<a href="/jp2/inspection_history_c/" class="btn_home"><button>2C</button></a>
<h3>点検履歴</h3>
<a href="/jp2/inspection_item_list_a/" class="btn_home"><button>2A</button></a>
<a href="/jp2/inspection_item_list_b/" class="btn_home"><button>2B</button></a>
<a href="/jp2/inspection_item_list_c/" class="btn_home"><button>2C</button></a>
<br>
<a href="javascript:history.back()"><i id="back_btn" class="fa fa-backward"></i></a>
{% endblock %}